@import "~antd/dist/antd.css";

#root {
  height: 100%;
}

.vertical-scrollable::-webkit-scrollbar {
  width: 10px;
}

.ant-input {
  background-color: transparent;
}

.ant-tag {
  margin-right: 0;
}

.text-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
